body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #302b63, #24243e, #0f0d16);
  position: relative;
  overflow: auto;
  color: white;
}

#artists-container,
#albums-container,
#songs-container {
  margin: 2em 1em;
}

#artists-container,
#albums-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2em;
}

.grid-item {
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
  padding: 1.5em;
  background: rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  border-radius: 2em;
  text-align: center;
  cursor: pointer;
}

.grid-item:hover {
  transform: scale(1.05);
}

.grid-item img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#songs-container {
  background-color: rgba(0, 0, 0, 0.4);
  margin: auto;
  width: 90%;
  border-radius: 15px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2);
  padding: 1em;
}

td,
th {
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: left;
  padding: 12px 15px;
  font-size: 1.1em;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

th {
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.5);
}

tr:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.35);
}

#songs-container:empty {
  display: none;
}
