/* gallery.css */
#imageGallery {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.galleryViewport {
  overflow: hidden;
  width: 100%;
  max-width: 75rem;
  position: relative;
}

.galleryWrapper {
  display: flex;
  justify-content: flex-start;
  width: calc(75rem * 3);
}

.galleryGroup {
  display: flex;
  width: 75rem;
  justify-content: center;
}

.galleryImage {
  width: 25rem;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
