/* search.css */

.searchContainer {
  margin: 2rem auto 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#searchInput {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid #ddd;
  font-size: 1rem;
  width: 40%; /* Adjusted width to accommodate dropdown */
}

#searchType {
  padding: 0.8rem 1.2rem;
  font-size: 1.1rem;
  border: 1px solid #ddd; /* Border for distinction */
  border-radius: 0.5rem; /* Matching border radius */
  background-color: #24243e;
  color: white; /* Text color */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  appearance: none; /* This removes default browser styling */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("path-to-your-icon/if-you-want-an-arrow-icon.png"); /* If you want an arrow icon */
  background-repeat: no-repeat;
  background-position: 95% center; /* Positioning the icon, if you have one */
}

#searchType:hover {
  border-color: #bbb; /* Slightly darker border on hover */
}

label[for="searchType"] {
  color: white;
  margin-right: 0.5rem; /* Optional: Some space between the label and the dropdown */
}

#searchButton {
  padding: 1rem 2.5rem; /* Bigger padding */
  font-size: 1.2rem; /* Bigger text */
  border: none;
  border-radius: 0.5rem; /* Slightly rounded */
  background: linear-gradient(
    135deg,
    #573399,
    #302b63
  ); /* Gradient background */
  color: white;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: all 0.3s; /* Transition for all properties */
}

#searchButton:hover {
  background: linear-gradient(
    135deg,
    #463288,
    #221a50
  ); /* Darker gradient on hover */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Lesser shadow on hover for "pressed" effect */
}

/* Search Results Container */
#searchResults {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Individual Song Card */
.songCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.125rem solid #888;
  border-radius: 0.5rem;
  padding: 1.5rem; /* Increased padding */
  width: 18rem; /* Increased width */
  background-color: #fff;
  box-shadow: 0 0.25rem 0.9375rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s, box-shadow 0.3s;
}

.songCard:hover {
  transform: scale(1.05);
  box-shadow: 0 0.375rem 1.125rem rgba(0, 0, 0, 0.2);
}

.songTitle {
  font-weight: bold;
  font-size: 1.25rem; /* Increased font size */
  margin-bottom: 1rem;
}

.songArtist,
.songFeaturing,
.songReleaseDate {
  font-size: 1rem; /* Increased font size */
  margin-bottom: 0.5rem;
  text-align: center;
}

.songFeaturing {
  color: #777;
}

.songReleaseDate {
  margin-top: auto;
  color: #555;
}
